/* Colores */
:root {
	var-text-color: #333;
	var-text-bg-color: white;
	var-box-shadow-color: #53175B;
}

borderbox {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

boxshadow {
	-moz-box-shadow: 0 0 0.3em var(box-shadow-color);
	-webkit-box-shadow: 0 0 0.3em var(box-shadow-color);
	box-shadow: 0 0 0.3em var(box-shadow-color);
}

fondo {
	background-color: #DDD;
	background-image: -moz-linear-gradient(center top, #AAA, #DDD);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #AAA), color-stop(1, #DDD));
	background-image: linear-gradient(top, #AAA, #DDD);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
	background-repeat: no-repeat;
}