/* Styles for mobile devices */

@media screen and (max-width: 660px) {
/* slightly smaller margin around content body */
	fieldset,
	.property-list {
		width: auto;
	}
	.entrar a {
		font-size: .75em;
	}
	
	.bienvenida {
		display: none;
	}

	#bannerRotator {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.nav {
		padding: 0.15em;
	}

	.nav li {
		margin: 0 0.15em 0 0;
		padding: 0.10em;
	}

	/* Hide individual steps in pagination, just have next & previous */
	.pagination .step, .pagination .currentStep {
		display: none;
	}

	.pagination .prevLink {
		float: left;
	}

	.pagination .nextLink {
		float: right;
	}

	/* pagination needs to wrap around floated buttons */
	.pagination {
		overflow: hidden;
	}

	/* slightly smaller margin around content body */
	fieldset,
	.property-list {
		width: auto;
		font-size: .80em;
	}

	input, textarea {
		width: auto;
		   -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		        box-sizing: border-box;
	}

	select, input[type=checkbox], input[type=radio], input[type=submit], input[type=button], input[type=reset] {
		width: auto;
	}

	/* hide all but the first column of list tables */
	.scaffold-list td:not(:first-child),
	.scaffold-list th:not(:first-child) {
		display: none;
	}

	.scaffold-list thead th {
		text-align: center;
	}

	/* stack form elements */
	.fieldcontain {
		margin-top: 0.3em;
	}

	.errors ul,
	.message p {
		margin: 0.5em;
	}

	.error ul {
		margin-left: 0;
	}
	
	/* Compartir Mesa de Tren customization */
	
	#header {
		/*background: #9C3B8D;*/
		padding: .5em .5em .5em .5em;
		margin-bottom: .25em;
		padding-left: 10px;
}
	
	#header img {
		height: 55px;
		margin-top: -.5em;
		margin-left: -.5em;
}
	
	a.header-main:link, a.header-main:visited {
		font-size: 1em;
		font-weight: bold;
	}
	
	.header-sub {
		font-size: .60em;
		font-style: italic;
	}
	
	.entrar {
		margin-top: 1em;
		float: right;
		font-size: .75em;
	}
	
	.entrar a {
		font-size: .75em;
	}
	
	#footer {
		font-size: 0.5em;
		font-style: italic;
		padding: 1em 0.5em 1em 0.5em;
		margin-bottom: .5em;
		margin-top: .5em;
		clear: both;
	}
	
	#search {
		width: 45%;
		float: right;
		margin: .25em .25em;
	}

	.bienvenida {
		display: none;
	}	
	
	.social-login {
		width: 32px;
		height: 32px;	
	}
	
	#bannerRotator {
		display: none;
	}
}
